:host {
  display: block;
  min-height: calc(100vh - 64px);
  background: linear-gradient(to right, #1e1e2f, #2c2c3d);
}

mat-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

mat-card img {
  width: 100%;
  border-radius: .625rem .625rem 0 0;
}

mat-card:hover {
  transform: scale(1.05);
}
