
<div class="container d-flex flex-column align-items-center justify-content-center text-center py-5">
  <!-- Encabezado -->
  <h1 class="display-3 mb-3">Bienvenido a CookLab 🍽️</h1>
  <p class="lead mb-4">
    Descubre, crea y guarda tus recetas favoritas. <br>
    Cocina con creatividad y comparte tu pasión culinaria.
  </p>

  <!-- Beneficios -->
  <div class="row text-center my-5">
    <div class="col-md-4">
      <mat-icon class="mb-2" fontIcon="favorite" color="warn"></mat-icon>
      <h4>Guarda tus favoritas</h4>
      <p>Accede rápidamente a tus recetas más queridas desde tu perfil.</p>
    </div>

    <mat-divider class="my-5 d-md-none"/>

    <div class="col-md-4 ">
      <mat-icon class="mb-2" fontIcon="emoji_food_beverage" color="primary"></mat-icon>
      <h4>Crea con libertad</h4>
      <p>Comparte tus propias creaciones culinarias paso a paso.</p>
    </div>

    <mat-divider class="my-5 d-md-none"/>

    <div class="col-md-4">
      <mat-icon class="mb-2" fontIcon="public" color="accent" ></mat-icon>
      <h4>Explora recetas del mundo</h4>
      <p>Descubre nuevas ideas de cocina de la comunidad global.</p>
    </div>
  </div>

  <!-- Cita inspiradora -->
  <blockquote class="blockquote text-center">
    <p class="mt-5 fst-italic">"Cocinar es como pintar o escribir una canción. Cada plato tiene su historia."</p>
  </blockquote>
</div>
